  <section ng-hide="loggedIn()">
    <section
    class="pic"
    ng-style="{
    'background-image': 'url(' +gravatar + ')'
  }"></section>
  <section class="form">
    <form ng-hide="loggedIn()">
      <section>
        <label for="name">Name:</label>
        <input id="name" type="text" ng-model="user.name" placeholder="User Name">
      </section>
      <section>
        <label for="username">Player:</label>
        <input id="username" type="text" ng-model="user.username" placeholder="UserName">
      </section>
      <section>
        <label for="email">E-Mail:</label>
        <input id="email" type="email"
        ng-model="user.email"
        placeholder="a@awesome.com"
        ng-model-options="{ updateOn: 'blur' }"
        ng-change="getGravatar()"
        >
      </section>
      <section>
        <label for="password">Pass:</label>
        <input id="password" type="password" ng-model="user.password" placeholder="••••••">
      </section>
    </form>
  </section>

</section>
<section ng-show="loggedIn()">
  <section class="pic"></section>
  <section class="form">
    <h3 class="username">{{currentUser.attributes.username}}</h3>
  </section>
</section>
<section class="actions">
  <section>
    <button ng-hide="loggedIn()" ng-click="submit()">Sign up!</button>
    <button ng-show="loggedIn()" ng-click="logOut()">I'm Out.</button>
    <a ui-sref="login" ng-hide="loggedIn()">Or Login</a>
    <a ui-sref="gameboard" ng-show="loggedIn()">Or PLAY??</a>
  </section>
</section>
