<section ng-hide="loggedIn()">
	<section class="pic static"></section>
	<section class="form">
		<form ng-hide="loggedIn()">

			<section>
				<label for="username">Player:</label>
				<input id="username" type="text" ng-model="user.username" placeholder="UserName">
			</section>
			<section>
				<label for="password">Pass:</label>
				<input id="password" type="password" ng-model="user.password" placeholder="••••••">
			</section>

		</form>
	</section>

</section>
<section ng-show="loggedIn()">
	<section class="pic" ng-style="{'background-image': 'url('+gravatar+')'}"></section>
	<section class="form">
		<h3 class="username">{{currentUser.attributes.username}}</h3>
	</section>
</section>
<section class="actions">
	<section>
		<button ng-hide="loggedIn()" ng-click="submit()">Let's do this.</button>
		<button ng-show="loggedIn()" ng-click="logOut()">I'm Out.</button>
		<a ui-sref="signup" ng-hide="loggedIn()">Or Signup?</a>
		<a ui-sref="gameboard" ng-show="loggedIn()">Or PLAY??</a>
	</section>
</section>
