<section class="title">
  <section>
    <h2>The tally:</h2>
  </section>
</section>
<section>
  <section class="word-list">
    <h4>{{userData.username}}</h4>
    <ul>
      <li
      ng-repeat="word in userData.highscore.completedWords"
      ng-class="{perfect: word.percent == 100, ok: word.percent > 50, tryharder: word.percent < 50}"
      >
      {{word.word}} <span class="badge">{{word.percent}}%</span>
    </li>
  </ul>
</section>


</section>
<section class="actions">
  <section>
    <a ui-sref="gameboard">I can do better.</a>
  </section>
</section>
<section class="userinfo">
  <section>
    <section>
      <article><p>User: {{currentUser.attributes.username}}</p></article>
      <article><p>High Score: {{currentUser.attributes.highscore.points.value}}</p></article>
      <article><p><a href ng-click="logOut()">Log Out</a></p></article>
    </section>
  </section>
</section>