<section class="title">
  <section>
    <h2>Those who've gone before:</h2>
  </section>
</section>
<section>
  <section class="highscores">
    <section>
      <section
      ng-repeat="user in users | orderBy:[highscore.points.value]:reverse"
      ng-class="{active: currentUser.id === user.id}">
      <a ui-sref="details({gameid: user.id})">
        <section>
          <article>
            <h4>{{user.attributes.username}}</h4>
            <h2>{{user.attributes.highscore.points.value || "-" }}</h2>
          </article>
        </section>
      </a>
    </section>
  </section>
</section>
</section>
<section class="actions">
  <section>
    <a ui-sref="gameboard">I can do better.</a>
  </section>
</section>
<section class="userinfo">
  <section>
    <section>
      <article><p>User: {{currentUser.attributes.username}}</p></article>
      <article><p>High Score: {{currentUser.attributes.highscore.points.value}}</p></article>
      <article><p><a href ng-click="logOut()">Log Out</a></p></article>
    </section>
  </section>
</section>