
/**
 * Typography-related.
 */

 @sansFontFamily: 'Futura', 'Trebuchet MS', Arial, sans-serif;

 @grid-columns:              12;
 @grid-gutter-width:         30px;
 @grid-float-breakpoint:     768px;

