@import "_bootstrap/bootstrap";
@import "_variables";

html, body {
  height:100%;
}

/**
 * Typography
 */

 h1, h2, h3, h4, h5, h6, small, .userinfo
 {
  font-family: 'Futura', 'Trebuchet MS', Arial, sans-serif;
}

small, button
{
  text-transform:uppercase;
  font-weight:900;
  letter-spacing: 1px;
}


body
{
  background:@gray-lighter;
}

.content
{
  .make-md-column(6);
  .make-md-column-offset(3);
  background:white;
  // .border-top-radius(5px);
  // .border-bottom-radius(5px);
}


.header
{
  padding:@line-height-computed;
  text-align:center;
  h3
  {
    padding:@line-height-computed /4;
    letter-spacing:1px;
    text-transform:uppercase;
    display:inline-block;
    border:2px solid @gray-darker;
  }
}


.pic,.form
{
  .make-md-column(6);
  height:275px;
}

.pic {
  background-size: cover;
  background-position: center center;
}

.pic.static
{
  background-image:url('/img/default-gravatar.png');
}

.form
{
  background: @brand-warning;
  position:relative;
  
  .username
  {
   position:absolute;
   top:50%;
   left:50%;
   width:80%;
   .translate(-50%,-50%);
   color:white;
   padding:0;
   margin:0;
   text-align:center
 }

 form
 {
  position:absolute;
  top:50%;
  left:50%;
  width:80%;
  .translate(-50%,-50%);
  section
  {
    .clearfix;
    border-bottom: 1px solid white;
    margin-bottom:@line-height-computed;

    input, label
    {
      float:left;
      color:white;
      ::-webkit-input-placeholder {
        color: white;
      }

      :-moz-placeholder {
        color: white;  
      }

      ::-moz-placeholder {
        color: white;  
      }

      :-ms-input-placeholder {  
        color: white;  
      }
    }

    label
    {
      width:30%;
    }
    input
    {
      width:70%;
    }

  }
}
input
{
  background:none;
  border:none;
  outline:none;
}
}

.actions
{
  > section
  {
    padding:@line-height-computed;
  }
  button, a
  {
    .btn;
    .btn-default;
    border: 2px solid @gray-darker;

  }

  button:hover, a:hover
  {
   background:none;
   border: 2px solid @brand-warning;
   color:@brand-warning;
 }
 text-align:center;

}

.footer
{
  padding:@line-height-computed;
}


.page-content > section, .header, .footer {
  .make-row();
  border-bottom: 1px solid @gray-lighter;

}


/**
*
* Gambeboard
*
**/

.rule-box
{
  > section
  {
    .make-md-column(6);  
    height: 275px;
    position:relative;

    article, h2
    {
      position:absolute;
      top:50%;
      left:50%;
      .translate(-50%, -50%);
    }

    article
    {
      width:90%;
    }
    h2
    {
      margin:0;
    }
  }
  >section:first-child
  {
    background-size:cover;
    backgropund-position:center center;
  }
}

.color-shade
{
  color:white;
  position:relative;
  &:before
  {
    content: '';
    position:absolute;
    top:0;left:0;right:0;bottom:0;
    background: rgba(240,173,78,0.75);
  }
}


.scrambled-word
{
  >section
  {
    padding:@line-height-computed;
    .make-md-column(12);
    text-align:center;
  }

  article
  {
    display:inline-block;
    margin:@line-height-computed / 4;
    padding:@line-height-computed / 4;
    text-transform:uppercase;
    font-size:3rem;
    border-bottom: 2px solid @gray-darker;
  }
}

.guess-box
{
  >section
  {
    padding:@line-height-computed;
    .make-md-column(12);
  }

  input
  {
    width:100%;
    border:0;
    outline:none;
    border-bottom: 2px solid black;
    height:75px;
    text-align:center;
    font-size:3rem;
    padding:@line-height-computed / 2;

  }
}

.points, .timer
{
  padding:@line-height-computed;
  .make-md-column(6);
  //height:275px;
  text-align:center;
  h2
  {
    font-size:8rem;
  }
}

.points
{
  background:@brand-warning;
  color:white;
}

.successful
{
  >section
  {
    padding:@line-height-computed;
    .make-md-column(12);
  }
  
  ul
  {
    marign:0;
    padding:0;
  }

  li
  {
    .small;
    list-style-type:none;
    display:inline-block;
    padding:@line-height-computed /4;
    margin:@line-height-computed /4;
    background:@gray-darker;
    color:white;
  }

}

/**
*
* Scoreboard
*
**/

.title
{
  text-align:center;
  >section
  {
   .make-md-column(12);
   padding:@line-height-computed;
 }
}


.highscores
{

  .make-md-column(12);

  a
  {
    color:inherit;
  }
  
  >section
  {
    .make-row();
    padding:@line-height-computed;
    >section.active > section
    {
      background:none;
      border:2px solid @brand-warning;
      color:@gray-darker;
    }
    >section
    {
      padding:@line-height-computed /4;
      .make-md-column(4);
      color:white;
      
      section
      {
        position:relative;
        background:@brand-warning;
        height:175px;
        text-align:center;

        &:hover
        {
          background:@gray-light;
        }
      }

      article
      {
        position:absolute;
        top:50%;
        left:50%;
        .translate(-50%,-50%);
      }
      
      
    }
  }

}

.userinfo
{
  > section
  {
    .make-md-column(12);
    >section
    {
      .make-row();

      article
      {
        .make-md-column(4);
        text-align:center;
        padding:@line-height-computed;
        text-transform:uppercase;
        .small;
        opacity:0.5;
      }

      article:first-child
      {
        text-align:left;
      }
      article:last-child
      {
        text-align:right;
        a
        {
          color:@brand-warning;
        }
      }
    }

    >section:hover
    {
      article {
        opacity:1;
      }
    }
  }
}


.footer {
  text-align:center;
  small
  {
    font-weight:100;
    color:@gray-lighter;
  }
}

.footer:hover
{
  small
  {
    color:@gray;

  }
}

.word-list
{
  .make-md-column(6);
  .make-md-column-offset(3);


  ul
  {
    .list-group;
  }
  li
  {
    .list-group-item;
  }
  li.tryharder
  {
    .list-group-item-warning
  }
  li.ok
  {
    .list-group-item-info
  }
  li.perfect
  {
    .list-group-item-success
  }

  .badge
  {
    float:right;
  }
}