<!DOCTYPE html>
<html ng-app="ngHarpBoilerplate" ng-controller="AppCtrl">
<head>
  <title ng-bind="pageTitle"></title>

  <meta name="viewport" content="width=device-width">

  <!-- social media tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@HarpPlatform">
  <meta name="twitter:title" content="ngHarpBoilerplate">
  <meta name="twitter:description" content="Non-Trivial AngularJS Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure.">
  <meta name="twitter:creator" content="@HarpPlatform">
  <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">

  <!-- <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->

  <!-- compiled CSS -->
  <link rel="stylesheet" type="text/css" href="css/main.css" />

  <!-- JavaScript -->
  <script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>
  <script type="text/javascript" src="vendor/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="vendor/angular-ui-utils/modules/route/route.js"></script>

  <!-- Your App JavaScript -->
  <script type="text/javascript" src="vendor/md5/md5.js"></script>
  <script type="text/javascript" src="app/services/users.js"></script>
  <script type="text/javascript" src="app/services/words.js"></script>
  <script type="text/javascript" src="app/services/match.js"></script>


  <script type="text/javascript" src="app/scoreboard/scoreboard.js"></script>
  <script type="text/javascript" src="app/details/details.js"></script>
  <script type="text/javascript" src="app/signup/signup.js"></script>
  <script type="text/javascript" src="app/login/login.js"></script>
  <script type="text/javascript" src="app/gameboard/gameboard.js"></script>
  <script type="text/javascript" src="app/app.js"></script>

</head>
<body>

  <section class="container">
    <section class="row" >
      <section class="content">
        <section class="header"><h3>Word Jumbler!</h3></section>
        <section class="page-content" ui-view="main"></section>
        <section class="footer">
          <small>Made as a code challenge with angularjs and bootstrap.</small>
        </section>
      </section>
    </section>
  </section>

</body>
</html>
