<section ng-hide="gameStarted">
  <section class="rule-box">
    <section class="color-shade" ng-style="{'background-image': 'url(' +gravatar+ ')'}">
      <h2>Hello, {{user.username}}!<br/>First we begin with rules…</h2> 
    </section>
    <section>
      <article>
        <p>You rules are simple. Guess a word correct and you get points. Get it wrong, and you don't. There's no "skips" here - you either get it or you fail</p>
        <p>Once you click "Play Game!" you'll be presented with a scrambled word and an input box below to try and guess it. Get it right and you'll be given another and another and another until the game is over.</p>
        <p>You have 40 seconds. You're welcome.</p>
      </article>
    </section>
  </section>
</section>
<section ng-hide="gameStarted" class="actions">
  <section>
    <button ng-click="playGame()">Play Game!</button> 
  </section>
</section>




<section class="scrambled-word" ng-show="gameIsPlaying()">
  <section>
    <article ng-repeat="letter in jumbledWord track by $index">
      {{letter}}
    </article>
  </section>
</section>

<section class="guess-box" ng-show="gameIsPlaying()">
  <section>
    <small>Points Possible: <span ng-bind="possiblePoints"></span></small>
    <input id="guessBox" ng-model="guessBox" ng-change="guessed()">
  </section>
  
</section>

<section ng-show="gameIsPlaying()">

  <section class="points">
    <small>Points:</small>
    <h2>{{m.points.value}}</h2>
  </section>
  <section class="timer">
    <small>Time:</small>
    <h2>{{time}}</h2>

  </section>

</section>

<section class="successful" ng-show="gameIsPlaying()">
  <section>
    <small>Successfull:</small> 
    <ul>
      <li ng-repeat="word in m.completedWords">
        {{word.word}} - {{word.percent}}%
      </li>
    </ul>
  </section>
</section>

<section ng-show="gameIsOver">
  <h3>Saving data</h3> 
</section>
<section class="userinfo">
  <section>
    <section>
      <article><p>User: {{user.username}}</p></article>
      <article><p>High Score: {{user.highscore.points.value}}</p></article>
      <article><p><a href ng-click="logOut()" >Log Out</a></p></article>
    </section>
  </section>
</section>
